.active{
    filter: brightness(70%) !important;
}

.focus {
    box-shadow: 0 0 0 0 !important;
}

.ReactVirtualized__List{
    overflow: hidden !important;
}
.ReactVirtualized__List:focus{
    outline: 0 !important;
}